@use "sass:color";// Variables
$website-width: 1280px;
$main-color: #ff0318;
$light-color: #8ECAE6;
$medium-color: #7fb069;
$dark-color: #002916;
$bg-image: url('../img/showcase.jpg');


// Set Text Color
@function set-text-color($color) {
  @if color.lightness($color) > 50 {
    @return #000;
  } @else {
    @return #fff;
  }
}

